<div class="auth-full-height container-fluid px-0">
    <div class="row justify-content-center card mx-0 flex-row overflow-hidden min-vh-100">
        <div class="col-md-7 d-flex bg-primary justify-content-center flex-column align-items-center p-4">
            <img src="assets/images/logo/digidoc-no-bg.svg"/>
        </div>
        <div class="col-md-5 px-0 d-flex justify-content-center align-items-center">
            <div class="card-body position-relative">
                <div class="my-5 mx-auto" style="max-width: 366px;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>