<div class="mb-3">
  <h2 class="text-primary">Set Password</h2>
  <p class="text-light-dark fs-5">Please update your password to start logging in</p>

  <form [formGroup]="formSetPassword" (ngSubmit)="onSubmit()">
    <app-form-group [groupClassName]="'mb-5'" title="Password" [isRequired]="true">
      <app-text-input formControlName="password" errorLabel="Password" inputType="password"
        placeHolder="New Password"></app-text-input>
    </app-form-group>
    <app-form-group [groupClassName]="'mb-5'" title="Confirm Password" [isRequired]="true">
      <app-text-input formControlName="confirmPassword" errorLabel="Confirm Password" inputType="password"
        placeHolder="Confirm Password"></app-text-input>
    </app-form-group>
    <app-button className="w-100 d-flex justify-content-center btn-primary" [isLoading]="isLoading"
      [isDisabled]="isLoading || formSetPassword.invalid" [type]="'submit'">
      Submit</app-button>
    <div class="text-center mt-2">
      <a routerLink="/auth/login" class="text-info text-sm fw-semibold">Back to Login</a>
    </div>
  </form>
</div>