<div class="mb-3">
    <h2 class="text-primary">Forgot Password</h2>
    <p class="text-light-dark fs-5">Please update your password to start logging in</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-form-group [groupClassName]="'mb-5'" title="Email" [isRequired]="true">
            <app-text-input formControlName="email" errorLabel="Email" inputType="email"
                placeHolder="Email"></app-text-input>
        </app-form-group>
        <app-button className="w-100 d-flex justify-content-center btn-primary" [isLoading]="isLoading"
            [isDisabled]="isLoading || form.invalid" [type]="'submit'">
            Submit</app-button>
        <div class="text-center mt-2">
            <a routerLink="/auth/login" class="text-info text-sm fw-semibold">Back to Login</a>
        </div>
    </form>
</div>