.form-control{
  background-color: transparent;
  border-bottom: $input-border-bottom;
  padding: 0.915rem 0.938rem 0.813rem 0.938rem;
}

textarea {
  &.form-control {
    min-height: 8.75rem;
  }
  &.form-control-sm {
    font-size: $input-font-size;
    min-height: 5.438rem;
  }
}
