$badge-font-size:                   .75rem;
$badge-color:                       $white;
$badge-padding-y:                   .188rem;
$badge-padding-x:                   .75rem;
$badge-border-radius:               .5rem;