$dropdown-hover-arrow-active-top: -15px !default;
$dropdown-transform:  perspective(999px) rotateX(0deg) translateZ(0) translate3d(0px, 37px, 0px) !default;
$dropdown-item-padding-y: 0.625rem !default;
$dropdown-item-padding-x: 1rem !default;
$dropdown-link-color: $dark !default;
$dropdown-link-hover-bg: rgba(74, 161, 154, 0.10) !default;
$dropdown-link-hover-color: $dark !default;