$font-family-open-sans: "Open Sans" !important;
$font-family-inter: "Inter" !default;
$font-family-roboto: "Roboto";

$font-family-sans-serif: $font-family-roboto !important;
$font-family-monospace: $font-family-roboto !default;
$font-family-base: $font-family-roboto !default;
$font-family-code: $font-family-roboto !default;
