// Forms
// scss-docs-start form-input-variables
$input-padding-y: 0.813rem !default;
$input-padding-x: 0.938rem !default;
$input-font-style: normal !default;
$input-letter-spacing: -0.387 !default;
$input-line-height: 20px !default;
$input-font-weight: 600 !default;
$input-color: $dark-50 !default;

$input-bg: $white !default;
$input-disabled-bg: $gray-200 !default;

$input-border-width: 0 !default;
$input-border-bottom: 2px solid $dark !default;

$input-border-radius: 0 !default;
$input-border-radius-sm: $input-border-radius !default;
$input-border-radius-lg: $input-border-radius !default;

$input-focus-bg: $input-bg !default;
$input-focus-border-color: none !default;
$input-focus-color: $input-color !default;
$input-focus-width: 2px !default;
$input-focus-box-shadow: none !default;

$input-placeholder-color: $gray-700 !default;
$input-plaintext-color: $dark !default;

$input-transition: box-shadow 0.15s ease, border-color 0.15s ease !default;

$input-height-border: $input-border-width * 2 !default;
// scss-docs-end form-input-variables

// scss-docs-start input-group-variables
$input-group-addon-padding-right: 0.5rem !default;
// scss-docs-end input-group-variables

// scss-docs-start form-check-variables
$form-check-input-width: 1.43em !default;
$form-check-input-border-radius: 0.25rem !default;
$form-text-margin-top: 0 !default;
$form-check-input-checked-bg-image: linear-gradient(
  310deg,
  #252f40 0%,
  #252f40 100%
) !default;
// scss-docs-end form-check-variables

// form label
$form-label-font-weight: 500;
$form-label-margin-bottom: 0.5rem;

//form-switch
$form-switch-color:    #1C283E !default;
$form-switch-bg-image:   url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color}'/></svg>") !default;

//form-feedback
$form-feedback-margin-top: .375rem !default;
