.col-select {
  @include media-breakpoint-up(sm) {
    width: 256px;
  }
}

.col-select-status {
  @include media-breakpoint-up(sm) {
    width: 140px;
  }
}

.col-first-name {
  @include media-breakpoint-up(sm) {
    width: 120px;
  }
}

.col-last-name {
  @include media-breakpoint-up(sm) {
    width: 165px;
  }
}

.col-select,
.col-select-status {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.col-first-name,
.col-last-name {
  @include media-breakpoint-down(sm) {
    width: 50%;
  }
}

//Reponsive filter for job page and transaction page

@include media-breakpoint-up(xl,(xl:1765px)){
  .rows-filter {
    gap: 18px;
  }
  .rows-search {
    min-width: calc(100% - 1096px);
  }
}

@include media-breakpoint-down(xl,(xl:1765px)){
  .rows-filter {
    gap: 15px;
  }
  .rows-search {
    min-width: calc(100% - 0px);
  }
}

@include media-breakpoint-down(lg,(lg:1438px)){
  .rows-search {
    min-width: calc(100% - 274px);
  }
}

@include media-breakpoint-down(md,(md:893px)){
  .rows-search {
    min-width: calc(100% - 0px);
  }
}