<div class="modal-header">
  <h4 class="modal-title pull-left">Update Password</h4>
  <button type="button" class="btn-close bg-dark" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>

<form [formGroup]="form" class="w-100" (ngSubmit)="onSubmit()">
  <div class="modal-body py-0">
    <app-form-group title="Current Password">
      <app-text-input [submitted]="submitted" inputType="password" formControlName="currentPassword"
        placeHolder="Current Password" errorLabel="Current Password"></app-text-input>
    </app-form-group>
    <app-form-group title="New Password">
      <app-text-input [submitted]="submitted" inputType="password" formControlName="newPassword"
        placeHolder="New Password" errorLabel="New Password"></app-text-input>
    </app-form-group>
    <app-form-group title="Confirm New Password">
      <app-text-input [submitted]="submitted" inputType="password" formControlName="confirmNewPassword"
        placeHolder="Confirm New Password" errorLabel="Confirm New Password"></app-text-input>
    </app-form-group>
  </div>
  <div class="modal-footer">
    <app-button className="btn-outline-primary me-2" (click)="bsModalRef.hide()">Cancel</app-button>
    <app-button [isLoading]="isLoading" 
    [isDisabled]="isLoading" className="btn-primary" [type]="'submit'">Save</app-button>
  </div>
</form>