<!-- <nav class="navbar navbar-expand-lg shadow-none p-0">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
        <li class="nav-item text-open-sans">
          <a class="nav-link p-0 active" aria-current="page" href="#">Jewelry & Accessories</a>
        </li>
        <li class="nav-item text-open-sans">
          <a class="nav-link p-0" href="#">Clothing & Shoes</a>
        </li>
        <li class="nav-item text-open-sans">
          <a class="nav-link p-0" href="#">Home & Living</a>
        </li>
        <li class="nav-item text-open-sans">
          <a class="nav-link p-0" href="#">Wedding & Party</a>
        </li>
        <li class="nav-item text-open-sans">
          <a class="nav-link p-0" href="#">Toys & Entertainment</a>
        </li>
        <li class="nav-item text-open-sans">
          <a class="nav-link p-0" href="#">Art & Collectibles</a>
        </li>
        <li class="nav-item text-open-sans">
          <a class="nav-link p-0" href="#">Craft Supplies & Tools</a>
        </li>
      </ul>
  </div>
</nav> -->

<nav>
  <div class="navbar-custom px-sm-0 px-3">
    <swiper *ngIf="isSlider; else showflexWrap"
      [slidesPerView]="slidesPerView"
      [spaceBetween]="57.67"
      [navigation]="false"
      [pagination]="true"
    >
      <ng-template swiperSlide>
        <div class="text-a">Jewelry & Accessories</div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="text-a p-0">Clothing & Shoes</div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="text-a p-0">Home & Living</div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="text-a p-0">Wedding & Party</div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="text-a p-0">Toys & Entertainment</div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="text-a p-0">Art & Collectibles</div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="text-a p-0">Craft Supplies & Tools</div>
      </ng-template>
    </swiper>
    <ng-template #showflexWrap>
    <div class="d-flex list-type flex-wrap">
      <div class="text-a">Jewelry & Accessories</div>
      <div class="text-a p-0">Clothing & Shoes</div>
      <div class="text-a p-0">Home & Living</div>
      <div class="text-a p-0">Wedding & Party</div>
      <div class="text-a p-0">Toys & Entertainment</div>
      <div class="text-a p-0">Art & Collectibles</div>
      <div class="text-a p-0">Craft Supplies & Tools</div>
    </div>
    </ng-template>

  </div>
</nav>